@model IEnumerable<TicketingSystem.Web.Areas.Administration.ModelsViews.Comments.CommentDetailsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Comments</h2>

<table id="table-all-comments" , class="table table-responsive table-hover table-black">
    <thead>
        <tr>
            <th scope="col" class="col-md-4">Author</th>
            <th scope="col" class="col-md-4">Ticket Title</th>
            <th scope="col" class="col-md-4">Content</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var comment in Model)
        {
            <tr>
                <td class="col-md-4">
                    @comment.AuthorName
                </td>
                <td class="col-md-4">
                    @comment.TicketTitle
                </td>
                <td class="col-md-4" style="=word-wrap:break-all">
                    @comment.Content
                </td>
                <td class="col-md-4">
                    @Html.ActionLink("Edit", "Edit", new { id = comment.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = comment.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = comment.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
            $('#table-all-comments').bootstrapTable({
                cache: false,
                striped: true,
                pagination: true,
                pageSize: 5,
                pageList: [5, 10, 25, 50],
            });
    </script>
}
